{
	presets: [
		['env', {
			targets: {
				browsers: ['ie >= 11']
			},
			useBuiltIns: 'usage'
		}],
		['platform', {
			'*': {
				plugins: [
					['transform-runtime', {
						polyfill: false
					}]
				]
			},
			bundle: {
				plugins: [
					['transform-runtime', {
						helpers: false
					}]
				]
			}
		}]
	],
	plugins: [
		'transform-object-rest-spread'
	]
}
